/* 기술 스택 list 관련 style */

.techStack {
    list-style: none
}

.techStack > li {
    padding: 0;
}


/* symbol 관련 style */

.symbol {
    position: relative;
    display: block;
    width: 2.25rem;
    height: 2.25rem;
}

.symbol > img {
    margin: 0;
    position: absolute;
    width: 1.7rem;
    height: 1.7rem;
    padding: 0.275rem;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

.symbolNormal {
    opacity: 1;
}

.symbolMenu {
    opacity: 0;
}

.symbolHover {
    opacity: 0;
}

@media screen and (max-width: 980px) {
    .symbol {
        box-shadow: inset 0 0 0 2px #eeeeee;
        border-radius: 100%;
    }

    .symbolNormal {
        opacity: 0;
    }

    .symbolMenu {
        opacity: 1;
    }

    .symbolHover {
        opacity: 0;
    }

    .symbol:hover {
        box-shadow: inset 0 0 0 2px #5cbdea;
        border-radius: 100%;
    }
}

.symbol:hover > .symbolDefault {
    opacity: 0;
}

.symbol:hover > .symbolHover {
    opacity: 1;
}

.symbolSite {
    box-shadow: inset 0 0 0 2px #e2e2e2;
    border-radius: 100%;
}

.symbolSite:hover {
    box-shadow: inset 0 0 0 2px #5cbdea;
    border-radius: 100%;
}

/* profile 관련 style */

.profileBox {
    display: grid;
    position: relative;
    width: 100%;
    margin-bottom: 75px;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
}

.profileBox.left {
    grid-template-columns: 0.25fr 0.75fr;
}

.profileBox.left > .profileImageBox  {
    order: 1;
    justify-content: flex-start;
}

.profileBox.left > .profileContentBox {
    order: 2;
}

.profileBox.right {
    grid-template-columns: 0.75fr 0.25fr;
}

.profileBox.right > .profileImageBox {
    order: 2;
    justify-content: flex-end;
}

.profileBox.right > .profileContentBox {
    order: 1;
}

.profileBox.right .profileName,
.profileBox.right .profileDegree,
.profileBox.right .profileKeyword,
.profileBox.right .profileContact {
    text-align: right;
}

.profileImageBox {
    display: flex;
    align-items: center;
}

.profileImage {
    max-width: 80%;
    position: relative;
}

.profileContentBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.profileName {
    margin-bottom: 0;
    font-size: 1.5rem;
}

.profileDegree {
    color: #c2c2c2;
    margin-bottom: 2px;
    font-size: 1rem;
    line-height: 1rem;
}

.profileKeyword {
    margin: 12px 0;
    font-size: 1rem;
    line-height: 1rem;
}

.profileContact {
    color: #a2a2a2;
    font-size: 1rem;
    line-height: 1rem;
    margin: 8px 0;
}

.mailLink {
    color: #a2a2a2;
}

.profileEtc {
    color: #a2a2a2;
    font-size: 1rem;
    line-height: 1rem;
    margin: 4px 0;
}

@media screen and (max-width: 940px) {
    .profileBox.left {
        grid-template-columns: 0.3fr 0.7fr;
    }

    .profileBox.right {
        grid-template-columns: 0.7fr 0.3fr;
    }

    .profileImage {
        max-width: 90%;
    }

    .profileName {
        margin-bottom: 0;
        font-size: 1.3rem;
    }

    .profileDegree {
        font-size: 0.9rem;
        line-height: 0.9rem;
    }

    .profileKeyword {
        margin: 8px 0;
        font-size: 0.9rem;
        line-height: 0.9rem;
    }

    .profileContact {
        font-size: 0.9rem;
        line-height: 0.9rem;
        margin: 2px 0;
    }

    .profileEtc {
        font-size: 0.9rem;
        line-height: 0.9rem;
        margin: 4px 0;
    }
}

@media screen and (max-width: 480px) {
    .profileBox.left {
        grid-template-columns: 0.3fr 0.7fr;
    }

    .profileBox.right {
        grid-template-columns: 0.7fr 0.3fr;
    }

    .profileImage {
        max-width: 90%;
    }
    
    .profileName {
        margin-bottom: 0;
        font-size: 1.0rem;
    }

    .profileDegree {
        font-size: 0.7rem;
        line-height: 0.7rem;
    }    
    
    .profileKeyword {
        margin: 4px 0;
        font-size: 0.7rem;
        line-height: 0.7rem;
    }

    .profileContact {
        font-size: 0.7rem;
        line-height: 0.7rem;
        margin: 1px 0;
    }

    .profileEtc {
        font-size: 0.7rem;
        line-height: 0.7rem;
        margin: 4px 0;
    }
}

/* research 관련 style */

.researchBox {
    display: grid;
    position: relative;
    width: 100%;
    margin-bottom: 75px;
    font-family: "Source Sans Pro", Helvetica, sans-serif;
}

.researchBox.left {
    grid-template-columns: 0.5fr 0.5fr;
}

.researchBox.left > .researchImageBox  {
    order: 1;
    justify-content: flex-start;
}

.researchBox.left > .researchContentBox {
    order: 2;
}

.researchBox.right {
    grid-template-columns: 0.5fr 0.5fr;
}

.researchBox.right > .researchImageBox {
    order: 2;
    justify-content: flex-end;
}

.researchBox.right > .researchContentBox {
    order: 1;
}

.researchBox.right .researchName {
    text-align: right;
}

.researchImageBox {
    display: flex;
    align-items: center;
}

.researchImage {
    max-width: 90%;
    position: relative;
}

.researchContentBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.researchName {
    margin-bottom: 30px;
    font-size: 1.4rem;
}

.researchDescription {
    margin: 20px 0;
    font-size: 1.0rem;
    line-height: 1.3rem;
    font-family: Helvetica;
}


@media screen and (max-width: 940px) {
    .researchBox.left {
        grid-template-columns: 0.5fr 0.5fr;
    }

    .researchBox.right {
        grid-template-columns: 0.5fr 0.5fr;
    }

    .researchImage {
        max-width: 90%;
    }

    .researchName {
        margin-bottom: 0;
        font-size: 1.3rem;
    }

    .researchDescription {
        margin: 8px 0;
        font-size: 0.9rem;
        line-height: 0.9rem;
        font-family: Helvetica;
    }
}

@media screen and (max-width: 480px) {
    .researchBox.left {
        grid-template-columns: 0.5fr 0.5fr;
    }

    .researchBox.right {
        grid-template-columns: 0.5fr 0.5fr;
    }

    .researchImage {
        max-width: 90%;
    }
    
    .researchName {
        margin-bottom: 0;
        font-size: 1.0rem;
    }
    
    .researchDescription {
        margin: 4px 0;
        font-size: 0.7rem;
        line-height: 0.7rem;
        font-family: Helvetica;
    }
}

/* recruit 관련 style */

@media screen and (max-width: 736px) {
    #footer > #applySection {
        padding: 2rem;
    }
}

/* 자주 사용할 style */

.lowMarginBottom {
    margin-bottom: 10px;
}

.horizontalCenter {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

.verticalBorder {
    border-top: solid 2px #e2e2e2;
    border-bottom: solid 2px #e2e2e2;
}

/* 임시로 지정한 style */

.filebox label {
    display: inline-block;
    padding: .5em .75em;
    color: #999;
    font-size: inherit;
    line-height: normal;
    vertical-align: middle;
    background-color: #fdfdfd;
    cursor: pointer;
    border: 1px solid #ebebeb;
    border-bottom-color: #e2e2e2;
    border-radius: .25em;
}

.filebox input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.haiMainP {
    margin: 0 0 10rem 0;
}

.haiMainButton {
    position: relative;
    top: 4rem;
}