/* 기술 스택 list 관련 style */

.techStack {
    list-style: none
}

.techStack > li {
    padding: 0;
}


/* symbol 관련 style */

.symbol {
    position: relative;
    display: block;
    width: 2.25rem;
    height: 2.25rem;
}

.symbol > img {
    margin: 0;
    position: absolute;
    width: 1.7rem;
    height: 1.7rem;
    padding: 0.275rem;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

.symbolNormal {
    opacity: 1;
}

.symbolMenu {
    opacity: 0;
}

.symbolHover {
    opacity: 0;
}

@media screen and (max-width: 980px) {
    .symbol {
        box-shadow: inset 0 0 0 2px #eeeeee;
        border-radius: 100%;
    }

    .symbolNormal {
        opacity: 0;
    }

    .symbolMenu {
        opacity: 1;
    }

    .symbolHover {
        opacity: 0;
    }

    .symbol:hover {
        box-shadow: inset 0 0 0 2px #5cbdea;
        border-radius: 100%;
    }
}

.symbol:hover > .symbolDefault {
    opacity: 0;
}

.symbol:hover > .symbolHover {
    opacity: 1;
}

.symbolSite {
    box-shadow: inset 0 0 0 2px #e2e2e2;
    border-radius: 100%;
}

.symbolSite:hover {
    box-shadow: inset 0 0 0 2px #5cbdea;
    border-radius: 100%;
}

/* profile 관련 style */

.profileImageBox {
    position: relative;
    width: 100%;
    margin-bottom: 75px;
}

.profileImage {
    max-width: 20%;
    position: relative;
}

.profileImageBox.left > div > .profileImage {
    float: left;
    margin: 0 2rem 2rem 0;
    top: 0.75rem;
}

.profileImageBox.right > div > .profileImage {
    float: right;
    margin: 0 0 2rem 2rem;
    top: 0.75rem;
}

.profileImageBox.right > div > .profileName, .profileImageBox.right > div > .profileDegree {
    text-align: right;
}

.profileImageBox.right > div > .profileName, .profileImageBox.right > div > .profileKeyword {
    text-align: right;
}

.profileImageBox.right > div > .profileName, .profileImageBox.right > div > .profileContact {
    text-align: right;
}

.profileName {
    padding-top: 2rem;
    margin-bottom: 0;
    font-size: 1.5rem;
}

.profileDegree {
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    color: #c2c2c2;
    margin-bottom: 2px;
    font-size: 1rem;
    line-height: 1rem;
}

.profileKeyword {
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    margin: 12px 0;
    font-size: 1rem;
    line-height: 1rem;
}

.profileContact {
    font-size: 1rem;
}

.profileContact .mailLink {
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    color: #a2a2a2;
    margin-top: 15px;
}

@media screen and (max-width: 940px) {
    .profileImageBox.left > div > .profileImage {
        margin: 0 1rem 0 0;
    }

    .profileImageBox.right > div > .profileImage {
        margin: 0 0 0 1rem;
    }

    .profileName {
        padding-top: 1rem;
        margin-bottom: 0;
        font-size: 1.2rem;
    }

    .profileDegree {
        font-family: "Source Sans Pro", Helvetica, sans-serif;
        color: #c2c2c2;
        margin-bottom: 2px;
        font-size: 0.8rem;
        line-height: 0.8rem;
    }

    .profileKeyword {
        font-family: "Source Sans Pro", Helvetica, sans-serif;
        margin: 10px 0;
        font-size: 0.8rem;
        line-height: 0.8rem;
    }

    .profileContact {
        font-family: "Source Sans Pro", Helvetica, sans-serif;
        font-size: 0.8rem;
        color: #a2a2a2;
    }
}

@media screen and (max-width: 480px) {
    .profileImageBox.left > div > .profileImage {
        margin: 0 0.5rem 0 0;
    }

    .profileImageBox.right > div > .profileImage {
        margin: 0 0 0 0.5rem;
    }

    .profileName {
        padding-top: 0.7rem;
        margin-bottom: 0;
        font-size: 0.8rem;
    }

    .profileDegree {
        font-family: "Source Sans Pro", Helvetica, sans-serif;
        color: #c2c2c2;
        margin-bottom: 2px;
        font-size: 0.4rem;
        line-height: 0.4rem;
    }    
    
    .profileKeyword {
        font-family: "Source Sans Pro", Helvetica, sans-serif;
        margin: 10px 0;
        font-size: 0.4rem;
        line-height: 0.4rem;
    }

    .profileContact {
        font-family: "Source Sans Pro", Helvetica, sans-serif;
        font-size: 0.4rem;
        color: #a2a2a2;
    }
}

/* recruit 관련 style */

@media screen and (max-width: 736px) {
    #footer > #applySection {
        padding: 2rem;
    }
}

/* 자주 사용할 style */

.lowMarginBottom {
    margin-bottom: 10px;
}

.horizontalCenter {
    display: inline-block;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

.verticalBorder {
    border-top: solid 2px #e2e2e2;
    border-bottom: solid 2px #e2e2e2;
}

/* 임시로 지정한 style */

.filebox label {
    display: inline-block;
    padding: .5em .75em;
    color: #999;
    font-size: inherit;
    line-height: normal;
    vertical-align: middle;
    background-color: #fdfdfd;
    cursor: pointer;
    border: 1px solid #ebebeb;
    border-bottom-color: #e2e2e2;
    border-radius: .25em;
}

.filebox input[type="file"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}